<div id="" class="comment">
	<div class="imgDiv">
		<img src="{{author.img}}" width="50" height="50" />
	</div>
	<div class="">
		<div class="">
			{{> user author}}
		</div>
		<div class="">
			{{text}}
		</div>
	</div>
</div>
