<div id="" class="message">
	<div class="imgDiv">
		<img src="{{user.img}}" width="50" height="50" />
	</div>
	<div class="">
		<div class="">
			{{> userlink user}}
		</div>
		<div class="">
			{{text}}
		</div>
	</div>
</div>
