<link rel="stylesheet" href="/css/about.css" media="screen" title="no title">
<div class="container">
	<div class="row about-application col-xs-12">
		<h1>About</h1>
		<p>
			This web application was developed as a final project for SICI4037 (Data Communications), it uses sockets to communicate between client and server with the intention of creating a live messaging system. We used a number of appropriate technologies for this mostly based on JavaScript. Our backend web framework called 'Express' is a javascript module, it works in conjunction with 'Handlebars', a templating engine to generate our html structures and to fill them with data from our model. We use 'Mongoose' a javascript module to interact with MongoDB (A NoSQL database),
		</p>
	</div>
	<div class="row about-image-supercontainer col-xs-12">
		<div class="col-xs-6">
			<img src="/images/juan.jpg" class="about-image center-block"/>
		</div>
		<div class="col-xs-6">
			<img src="/images/juan.jpg" class="about-image center-block"/>
		</div>
	</div>
	<div class="row about-content-supercontainer col-xs-12">
		<div class="about-container col-xs-6 center-block">
	  	<div class="about-name row text-center">
	  	  Juan J. Alvarez
	  	</div>
			<div class="about-description row text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
	  </div>
		<div class="about-container col-xs-6">
	  	<div class="about-name row text-center">
	  	  Raul III Roque
	  	</div>
			<div class="about-description row text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
	  </div>
	</div>
	<div class="row text-center">
	  <h1>Technologies</h1>
	</div>
	<div class="row technology-container">
		<ul class="list-inline">
			<li class="technology">
				<a href="https://nodejs.org/en/" title="Node.js">
					<img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" width="250" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="http://socket.io/" title="socket.io">
					<img src="https://www.pubnub.com/wp-content/uploads/2014/07/SOCKETIOICON.gif" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://atom.io/" title="Atom">
					<img src="https://www.pubnub.com/wp-content/uploads/2015/01/B62xj9FCUAA3YoC.png" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="http://getbootstrap.com/" title="Bootstrap">
					<img src="http://www.allosamerica.com/wp-content/uploads/2015/10/bootstrap-logo.png" width="175" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://github.com/" title="GitHub">
					<img src="http://image.flaticon.com/icons/png/512/25/25231.png" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://www.heroku.com/" title="Heroku">
					<img src="http://4.bp.blogspot.com/-rtN7XplTOLA/UIsWe3_b6WI/AAAAAAAAA3I/puzlLThKLNU/s1600/heroku-logo-light3.png" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://mlab.com/" title="mLab">
					<img src="https://tctechcrunch2011.files.wordpress.com/2016/02/mlab-logo.png" width="275" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://www.mongodb.com/" title="MongoDB">
					<img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/1280px-MongoDB-Logo.svg.png" width="400" height="150" class="hoverable"/>
				</a>
			</li>
		</ul>
	</div>
</div>
