<link rel="stylesheet" href="/css/about.css" media="screen" title="no title">
<div class="row">
	<div class="container">
		<div class="jumbotron" style="border-radius: 10px;">
			<h1 class="text-center">About</h1>
			<p>
				This web application was developed as a final project for SICI4037 (Data Communications), it uses sockets to communicate between client and server with the intention of creating a live messaging system. We used a number of appropriate technologies for this mostly based on JavaScript. Our backend web framework called 'Express' is a javascript module, it works in conjunction with 'Handlebars', a templating engine to generate our html structures and to fill them with data from our model. We use 'Mongoose' a javascript module to interact with MongoDB (A NoSQL database),
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6 text-center">
			<div class="card">
			  <img class="card-img-top" src="/images/juan.jpg" alt="Juan" style="width: 200px; height: 200px;">
			  <div class="card-block">
			    <h4 class="card-title">Juan J. Alvarez</h4>
			    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  </div>
			</div>
		</div>
		<div class="col-sm-8 col-md-6 text-center">
			<div class="card">
			  <img class="card-img-top" src="/images/raul.jpg" alt="Raul" style="width: 180px; height: 200px;">
			  <div class="card-block">
			    <h4 class="card-title">Raul III Roque</h4>
			    <p class="card-text">I am a student at the University of Puerto Rico at Bayamon, currently doing my 4th year of a Bachelor's Degree
					in Computer Science. I'm also a intern at KPG Inc. working in web application develompent. KPG is also the place where I learned
				most of my web developing skills.</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="row text-center">
	  <h1>Technologies</h1>
	</div>
	<div class="row technology-container">
		<ul class="list-inline">
			<li class="technology">
				<a href="https://nodejs.org/en/" title="Node.js">
					<img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" width="250" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="http://socket.io/" title="socket.io">
					<img src="https://www.pubnub.com/wp-content/uploads/2014/07/SOCKETIOICON.gif" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://atom.io/" title="Atom">
					<img src="https://www.pubnub.com/wp-content/uploads/2015/01/B62xj9FCUAA3YoC.png" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="http://getbootstrap.com/" title="Bootstrap">
					<img src="http://www.allosamerica.com/wp-content/uploads/2015/10/bootstrap-logo.png" width="175" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://github.com/" title="GitHub">
					<img src="http://image.flaticon.com/icons/png/512/25/25231.png" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://www.heroku.com/" title="Heroku">
					<img src="http://4.bp.blogspot.com/-rtN7XplTOLA/UIsWe3_b6WI/AAAAAAAAA3I/puzlLThKLNU/s1600/heroku-logo-light3.png" width="150" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://mlab.com/" title="mLab">
					<img src="https://tctechcrunch2011.files.wordpress.com/2016/02/mlab-logo.png" width="275" height="150" class="hoverable"/>
				</a>
			</li>
			<li class="technology">
				<a href="https://www.mongodb.com/" title="MongoDB">
					<img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/1280px-MongoDB-Logo.svg.png" width="400" height="150" class="hoverable"/>
				</a>
			</li>
		</ul>
	</div>
</div>
