<script src="/js/socket.io.js" charset="utf-8"></script>
<div class="container-fluid">
	<div class="col-xs-2 chat-group-list">

	</div>
	<div class="col-xs-10">
		<div class="">
			<ul id="chatView" class="chat-view">
			</ul>
		</div>
	  <div class="navbar-fixed-bottom chat-form">
			<div class="col-xs-11">
		  	<input id="sendMessage" type="text" class="form-control" placeholder="Write here.">
			</div>
			<div class="col-xs-1">
				<button id="sendButton" type="button">Send</button>
			</div>
	  </div>
	</div>
</div>



<script type="text/javascript">
	var socket = io();

	socket.on('messageReceive', function(data){
		$('#chatView').append("<li>" + data.author + ': ' + data.message + "</li>");
	});

	$('#sendButton').click(function(){
		socket.emit('message', $('#sendMessage').val());
		console.log('sending message ' + $('#sendMessage').val());
		return false;
	});
</script>
