<script src="/js/socket.io.js" charset="utf-8"></script>
<link rel="stylesheet" href="/css/chat.css" media="screen" title="no title">
<div class="container-fluid">
	<div class="col-xs-2 chat-group-list">

	</div>
	<div class="col-xs-10">
		<div class="">
			<ol reversed id="chatView" class="list-item pre-scrollable" data-spy="scroll">
			</ol>
		</div>
	  <div class="chatForm">
			<div class="col-xs-11">
		  	<input id="sendMessage" type="text" class="form-control" placeholder="Write here.">
			</div>
			<div class="col-xs-1">
				<button id="sendButton" type="button">Send</button>
			</div>
	  </div>
	</div>
</div>

<script src="/js/socketclient.js" charset="utf-8"></script>
