<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PROL Chat</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title">
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" media="screen" title="no title">
		<link rel="stylesheet" href="/css/chat.css" media="screen" title="no title">
		<script src="/js/socket.io.js" charset="utf-8"></script>
		<script src="/js/jquery.js" charset="utf-8"></script>
		<script src="/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body>
		<div class="content">
			<div class="container-fluid">
				<div class="col-xs-3 left-bar">
					<div class="row col-xs-12">
						<a href="/">Home</a>
					</div>
					<div class="row col-xs-12 chat-group-list-container">
						<ul class="chat-group-list pre-scrollable">
							{{#each groupList}}
								<a href="#" id="{{this.group.name}}" group-id="{{this.group._id}}" class="group-list-link">
									<li class="list-group-item">
										{{this.group.name}}
									</li>
								</a>
							{{/each}}
						</ul>
					</div>
				</div>
				<div id="chatView" class="col-xs-9 chat-view">
					<div class="message-list-container row col-xs-12">
						<ol reversed id="messageList" class="list-item message-list pre-scrollable">
						</ol>
					</div>
				  <div class="row message-form col-xs-12">
						<div class="col-xs-10">
					  	<input id="sendMessage" type="text" class="form-control" placeholder="Write here.">
						</div>
						<div class="col-xs-2">
							<button id="sendButton" type="button">Send</button>
						</div>
				  </div>
				</div>
			</div>
		</div>
		<script src="/js/socketclient.js" charset="utf-8"></script>
  </body>
</html>
