<h1>Comment Test</h1>
<div class="commentsection">
	{{#each commentList}}
		{{> comment this}}
		<br>
	{{/each}}
</div>

{{#if auth}}
	<div class="">
		<form class="" action="/test/createcomment" method="post">
			<input type="text" name="text" value="">
			<input type="submit" name="submit" value="Send">
		</form>
	</div>
{{/if}}
