<div class="row">
	<div class="container">
		<div class="jumbotron" style="height: 300px;">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="row">
					<a href="/group/create">Create New Group</a>
				</div>
				<div class="row">
					<h3>List of Groups</h3>
				</div>
				<ul class="list-group">
					{{#each groupList}}
					<li class="list-group-item">
						{{> grouplink this}}
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
