<div class="row">
		<div class="container">
			<div class="jumbotron">
			  <h1 class="text-center">Welcome to Puerto Rico Online!</h1>
				<p>
			  	Puerto Rico Online is a live messaging application that we (Juan J. Alvarez and Raul III Roque) developed for our SICI4037 (Data Communications) class final project. We use sockets to maintain constant live communication between client and server.
			  </p>
			</div>
		</div>
		<div class="container">
			<h3 class="text-center"><a href="/about">Read about us!</a></h3>
		</div>
</div>
