<div class="row">
		<div class="container">
			<div class="jumbotron">
			  <h1>Welcome to Puerto Rico Online!</h1>
				<p class="wrap-text">
			  	Puerto Rico Online is a live messaging platform that we (Juan J. Alvarez and Raul III Roque) developed as our SICI4037 (Data Communications) class final project. To establish live communication between the client and server we used Socket.io, a web socket wrapper framework made in javascript. Using these sockets we were able to create chatrooms for individual groups of people.
			  </p>
			</div>
		</div>
</div>
