<h1>Message Test</h1>
<div class="commentsection">
	{{#each messageList}}
		{{> message this}}
		<br>
	{{/each}}
</div>

{{#if auth}}
	<div class="">
		<form class="" action="/test/createmessage" method="post">
			<input type="text" name="text" value="">
			<input type="submit" name="submit" value="Send">
		</form>
	</div>
{{/if}}
