<script type="text/javascript">
	var url = "{{url}}";
	if(!url)
		url = '/';
</script>
<script src="/js/redirect.js" charset="utf-8"></script>
<h1>
	{{#if title}}
		{{title}}
	{{/if}}
</h1>
<p>
	{{#if content}}
		{{content}}
	{{/if}}
</p>
