.about-image{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.about-name{
	font-size: 24px;
}

.about-description{
	padding: 25px;
}

.about-content-supercontainer{
	margin-top: 25px;
}

.technology{
	margin: 10px;
}

.technology-container{
	text-align: center;
}
