.content{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.chat-group-list{
	padding: 0;
}

.message-list-container{
	border: 1px solid red;
	position: absolute;
	height: auto;
	width: 100%;
	top: 10px;
	bottom: 50px;
}

.list-item {
	padding-left: 0;
}

.message-form{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
}


.message{
	background-color: #edeaea;
	margin: 10px;
	padding: 10px;
	text-align: left;
	word-wrap: break-word;
	border-radius: 12px !important;
}

.message-self{
	background-color: #88d2ee;
	text-align: right;
}

.message-info{
	background-color: rgb(71, 96, 200);
	margin: 5px;
	padding: 10px;
	text-align: center;
}

.message-container {
	border-radius: 6px;
}

.navbar-fixed-bottom {
	position: fixed;
	padding: 10px;
	background-color: #337ab7;
}

.navbar-container {
	color: #337ab7;
	position: relative;
	background-color: #337ab7;
	color: #337ab7;
	padding-left: 250px;
}

.navbar {
	background-color: #337ab7;
}



/* sidebar code */
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 51px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#chatView {
  width: 100%;
  padding-top: 10px;
	padding-bottom: 10px;
  transition: all 0.4s ease 0s;
}
